<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="POST" action="/new">
            <h1>Write a message!</h1>
            <label for="author_name">Author's Name</label> <br />
            <input type="text" id="author_name" name="author_name" />
            
            <br />
            <br />

            <label for="message">Message</label> <br />
            <input type="text" id="message" name="message" />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
